body {
  background-color: rgb(157, 184, 241);
  color: rgb(250, 250, 250);
  font-size: x-large;
  text-align: inherit;
}
#lory {
  width: 200px;
  height: 200px;
}

#lory1 {
  width: 200px;
  height: 200px;
}
